In [12]:
import numpy as np
import pandas as pd
import json
from urllib.request import urlopen
import sqlite3

In [ ]:
#test

In [42]:
def chunk_filtering(chunk): 
    return(chunk[chunk['speaker'].apply(lambda x: x == "President Donald Trump")])
        
use_cols = ["quotation",  "speaker"]
ignore_cols = ["quids", "probas", "phase", "url"]

with pd.read_json('data/quotes-2020.json.bz2', lines=True, compression='bz2', chunksize=1000) as df_reader:
    for chunk in df_reader:
        chunk_clean= chunk_filtering(chunk)
        chunk_clean.to_csv(path_or_buf='data/clean-quotes-2020.bz2', compression='bz2', mode = 'a', columns=use_cols)

In [18]:
test = pd.read_csv('data/clean-quotes-2020.bz2', compression='bz2')
test.head()

,Unnamed: 0,quotation,speaker
0,263.0,but [ President ] Trump (was) eager to make a ...,President Donald Trump
1,273.0,But think of it: A man leaks classified inform...,President Donald Trump
2,529.0,"Here we go again, another con job by the do no...",President Donald Trump
3,565.0,How we ever got involved in South Korea in the...,President Donald Trump
4,616.0,"I can't tell you in terms of the date,",President Donald Trump

In [ ]:
#test avec Keyworld = climat

In [22]:
df = pd.read_parquet('speaker_attributes.parquet', engine='pyarrow')

In [66]:
m = {'col1': ['hello you', 'climate change', 'youpi le climate change'], 'col2': [1,2,3]}
df = pd.DataFrame(data=m)

def p(f) : 
    return(df[df["col1"].apply(lambda x: "climate" in x)])


for a in m : 
    print(p(m))

                      col1  col2
1           climate change     2
2  youpi le climate change     3
                      col1  col2
1           climate change     2
2  youpi le climate change     3

In [ ]:
def chunk_filtering(chunk):   
    
    return(chunk[chunk["quotation"].apply(lambda x: "climate" in x)])
        
use_cols = ["quotation",  "speaker", "qids" ]
ignore_cols = ["qids", "probas", "phase", "url"]

with pd.read_json('data/quotes-2020.json.bz2', lines=True, compression='bz2', chunksize=1000) as df_reader:
    for chunk in df_reader:
        chunk_clean= chunk_filtering(chunk)
        chunk_clean.to_csv(path_or_buf='data/clean-quotes2-2020.bz2', compression='bz2', mode = 'a', columns=use_cols)

In [68]:
test2= pd.read_csv('data/clean-quotes2-2020.bz2', compression='bz2')
test2.head()

   Unnamed: 0  quotation  speaker  qids
0       111.0       True     True  True
1         NaN  quotation  speaker  qids
2      1223.0       True     True  True
3      1327.0       True     True  True
4      1513.0       True     True  True

In [ ]:
#test avec toutes les quotes dont le speaker est nommée

In [ ]:
def chunk_filtering(chunk):   
    return(chunk[chunk["speaker"].apply(lambda x: x!= "None" )])

        
use_cols = ["quotation",  "speaker", "qids", "date" ]


with pd.read_json('data/quotes-2020.json.bz2', lines=True, compression='bz2', chunksize=1000) as df_reader:
    for chunk in df_reader:
        chunk_clean= chunk_filtering(chunk)
        chunk_clean.to_csv(path_or_buf='data/all_clean_speakers-2020.bz2', compression='bz2', mode = 'a', columns=use_cols)

In [27]:
test3= pd.read_csv('data/all_clean_speakers-2020.bz2', compression='bz2')
test3.head()

0                 Q23
1                 Q42
2               Q1868
3                Q207
4                Q297
              ...
9055976    Q106406560
9055977    Q106406571
9055978    Q106406588
9055979    Q106406593
9055980    Q106406643
Name: id, Length: 9055981, dtype: object

In [ ]:
#parquet_file bordel

In [4]:
GW_nat = df.loc[0, "nationality"]
GW_nat #there should be a better way to do this

array(['Q161885', 'Q30'], dtype=object)

In [19]:
df.nationality.isnull().sum()

5340129

In [ ]:
for i in df[df['nationality'].notnull()]['nationality']  : 
    for j in i : 
        jsonurl = urlopen('https://www.wikidata.org/wiki/Special:EntityData/%s.json' %(j))
        s=json.load(jsonurl)
        df['nationality'].replace(j, s['entities'][j]['labels']['en']['value'])

/Users/alicia/opt/anaconda3/envs/ada/lib/python3.8/site-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [12]:
df

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9055976,[Barker Howard],None,[Q30],[Q6581097],1397399351,None,None,[Q82955],None,None,Q106406560,Barker B. Howard,None,item,None
9055977,[Charles Macomber],None,[Q30],[Q6581097],1397399471,None,None,[Q82955],None,None,Q106406571,Charles H. Macomber,None,item,None
9055978,None,[+1848-04-01T00:00:00Z],None,[Q6581072],1397399751,None,None,None,None,None,Q106406588,Dina David,None,item,None
9055979,None,[+1899-03-18T00:00:00Z],None,[Q6581072],1397399799,None,None,None,None,None,Q106406593,Irma Dexinger,None,item,None
9055980,[Fred Trull],None,[Q30],[Q6581097],1397400809,None,None,[Q82955],None,None,Q106406643,Fred F. Trull,None,item,None

In [43]:
a=s['entities']['Q161885']['labels']['en']['value']
#then sortir -labels -en -value de ce fichier -->> Great Britain

In [ ]:
Nationality = df.groupby(df.label)
for value in Nationality:
    print(value)

In [5]:
for i in Nationality : 
    if(i.dtype()==

IndexError: Column(s) nationality already selected

In [60]:
p=[]
for i in Nationality : 
    jsonurl = urlopen('https://www.wikidata.org/wiki/Special:EntityData/%s.json' %(Nationality[i]))
    s = json.load(jsonurl)
    p.append(s['entities']['Q161885']['labels']['en']['value'])

KeyError: "None of [Index(['Q161885', 'Q30'], dtype='object')] are in the [index]"