In [1]:
import numpy as np
import pandas as pd
import json
from urllib.request import urlopen
import sqlite3

In [3]:
#test 
key_world = ["hello you", "yo change", "salut le"]


df = pd.DataFrame({'A':['hello you loooo', 'yo change mmm', 'salut le climate change', 'pooo', 'pkj'] , 'B': [1,2,3, 4, 5]},
                      index = ['a1', 'a2', 'a3', 'a4', 'a5'])


def p(f) : 
    lol=pd.DataFrame()
    for i in key_world :
        
        lol= lol.append(f[f["A"].apply(lambda x: i in x)])
    return lol
e=p(df)
e

                          A  B
a1          hello you loooo  1
a2            yo change mmm  2
a3  salut le climate change  3

In [2]:
key_world = ["carbon dioxide", "greenhouse gas", "global warming",
             "climate change",  "fossil fuels", "sea-level rise", "renewable energy"]
def chunk_filtering(chunk):
    template=pd.DataFrame()
    for i in key_world :
        template= template.append(chunk[chunk["quotation"].apply(lambda x: i in x) & chunk["speaker"].apply(lambda x: x!= "None")])
    return template
    


with pd.read_json('data/quotes-2020.json.bz2', lines=True, compression='bz2', chunksize=1000) as df_reader:
    for chunk in df_reader:
        chunk_clean= chunk_filtering(chunk)
        chunk_clean.to_csv(path_or_buf='data/test-2020.bz2', compression='bz2', mode = 'a')

In [5]:
test= pd.read_csv('data/test-2020.bz2', compression='bz2')
test

,Unnamed: 0,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,419.0,2020-02-24-013709,For every doubling of carbon dioxide concentra...,E. Calvin Beisner,['Q19877395'],2020-02-24 16:02:23,1,"[['E. Calvin Beisner', '0.677'], ['None', '0.3...",['https://www.heartland.org/news-opinion/news/...,E
1,903.0,2020-02-24-028340,If you're a doctor that cares about the wellbe...,Fiona Stanley,['Q1653736'],2020-02-24 12:45:00,4,"[['Fiona Stanley', '0.9473'], ['None', '0.0527']]",['http://watoday.com.au/business/banking-and-f...,E
2,86.0,2020-01-24-004182,"Also, spoke about a range of emerging sectors ...",Piyush Goyal,['Q7199798'],2020-01-24 19:02:14,2,"[['Piyush Goyal', '0.6385'], ['Peter Voser', '...",['http://aninews.in/news/world/europe/piyush-g...,E
3,NaN,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
4,1223.0,2020-01-29-062975,Many make the link today between their experie...,Peter Maurer,"['Q117796', 'Q42426597']",2020-01-29 09:04:36,5,"[['Peter Maurer', '0.8787'], ['None', '0.1213']]",['http://whbl.com/news/articles/2020/jan/29/hu...,E
...,...,...,...,...,...,...,...,...,...,...
13824,NaN,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
13825,NaN,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
13826,5243208.0,2020-02-10-057505,"Obama got health care, Trump got his tax cut, ...",Tom Steyer,['Q16189531'],2020-02-10 11:00:08,1,"[['Tom Steyer', '0.8143'], ['None', '0.1857']]",['https://thebulletin.org/2020/02/on-the-new-h...,E
13827,NaN,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
13828,5244295.0,2020-02-23-041538,We've been writing about climate change being ...,Lesley Hughes,['Q53473786'],2020-02-23 22:38:42,2,"[['Lesley Hughes', '0.9023'], ['None', '0.0978']]",['https://www.nytimes.com/2020/02/23/world/aus...,E

In [4]:

test.shape

(13829, 10)

In [ ]:
#try with global warming or climate change ?

In [ ]:
#test avec toutes les quotes dont le speaker est nommée

In [71]:
def chunk_filtering(chunk):   
    return(chunk[chunk["speaker"].apply(lambda x: x!= "None" )])

        
use_cols = ["quotation",  "speaker", "qids", "date" ]


with pd.read_json('data/quotes-2020.json.bz2', lines=True, compression='bz2', chunksize=1000) as df_reader:
    for chunk in df_reader:
        chunk_clean= chunk_filtering(chunk)
        chunk_clean.to_csv(path_or_buf='data/all_clean_speakers-2020.bz2', compression='bz2', mode = 'a', columns=use_cols)

In [3]:
test3= pd.read_csv('data/all_clean_speakers-2020.bz2', compression='bz2')
test3.head()
test3.shape

(3448849, 5)

In [ ]:
#parquet_file bordel

In [4]:
GW_nat = df.loc[0, "nationality"]
GW_nat #there should be a better way to do this

array(['Q161885', 'Q30'], dtype=object)

In [19]:
df.nationality.isnull().sum()

5340129

In [ ]:
for i in df[df['nationality'].notnull()]['nationality']  : 
    for j in i : 
        jsonurl = urlopen('https://www.wikidata.org/wiki/Special:EntityData/%s.json' %(j))
        s=json.load(jsonurl)
        df['nationality'].replace(j, s['entities'][j]['labels']['en']['value'])

/Users/alicia/opt/anaconda3/envs/ada/lib/python3.8/site-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [12]:
df

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9055976,[Barker Howard],None,[Q30],[Q6581097],1397399351,None,None,[Q82955],None,None,Q106406560,Barker B. Howard,None,item,None
9055977,[Charles Macomber],None,[Q30],[Q6581097],1397399471,None,None,[Q82955],None,None,Q106406571,Charles H. Macomber,None,item,None
9055978,None,[+1848-04-01T00:00:00Z],None,[Q6581072],1397399751,None,None,None,None,None,Q106406588,Dina David,None,item,None
9055979,None,[+1899-03-18T00:00:00Z],None,[Q6581072],1397399799,None,None,None,None,None,Q106406593,Irma Dexinger,None,item,None
9055980,[Fred Trull],None,[Q30],[Q6581097],1397400809,None,None,[Q82955],None,None,Q106406643,Fred F. Trull,None,item,None

In [43]:
a=s['entities']['Q161885']['labels']['en']['value']
#then sortir -labels -en -value de ce fichier -->> Great Britain

In [ ]:
Nationality = df.groupby(df.label)
for value in Nationality:
    print(value)

In [5]:
for i in Nationality : 
    if(i.dtype()==

IndexError: Column(s) nationality already selected

In [60]:
p=[]
for i in Nationality : 
    jsonurl = urlopen('https://www.wikidata.org/wiki/Special:EntityData/%s.json' %(Nationality[i]))
    s = json.load(jsonurl)
    p.append(s['entities']['Q161885']['labels']['en']['value'])

KeyError: "None of [Index(['Q161885', 'Q30'], dtype='object')] are in the [index]"