In [17]:
import numpy as np
import pandas as pd

import ast
from ast import literal_eval

# Load additional data Relative to speakers

## Extracted labels QIDs

The provided speaker_attributes.parquet file contains attributes in terms of QIDs, thereby being uninterpretable by humans (df_qid).
To map the QIDs to meaningful labels, we used the provided wikidata_labels_descriptions_quotebank.csv.bz2 containing the label and value for the respective QID containing the df_qid (df_label_qid).
By combining the information of both we can obtained usefull information about speakers.

#### *Load parquet file*

In [5]:
#Loading our speakers attribute dataset, and the dataset necessary to interpret our QIDs.
df_qid = pd.read_parquet("speaker_attributes.parquet",engine= "pyarrow" )
df_label_qid = pd.read_csv('data/wikidata_labels_descriptions_quotebank.csv.bz2',index_col='QID')

#### *Somes visualisation and sort of the parquet file*

In [6]:
df_qid.id.is_unique

True

In [7]:
df_qid.head(3)

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None

Let's verify that academic_degree has revelant values.

In [9]:
print("There's no academic degree revelant value ? {}".format(all(df_qid.academic_degree.isna())))

There's no academic degree revelant value ? False

It seems that academic degree values are revelant, we decided to drop lastrevid, US_congress_bio_ID, type, Alisiase as they will not be used in our project.

In [8]:
df_qid.drop(['lastrevid', 'US_congress_bio_ID', 'type', 'aliases'], axis=1, inplace=True)

#### *Transformation of the df_qid with the label value from df_label_qid*

In [10]:
#We found that one of the QID was deleted from Wikidata. We will start by dropping this value, so that it does not distrurb our labelling. 

def transform(y):
    if y is None: return None
    x = set(y)
    x.discard("Q99753484")
    return np.array(list(x))
    
df_qid['occupation']=df_qid['occupation'].apply(lambda y : transform(y))

In [11]:
#We found out that some of the QIDs used in the speaker attribute file are actually redirection from an original QID. 
#We will manulally add their corresponding information using the orginal QID. We found the corespondance manualy between the two. 
#Here, there are in order, respectively the redirection QID, and its corresponding original one. One of he QID was only present 
#as a redirection, so we manually added this one (Q3186984), and its corresponding info. 

redirect_QID=['Q3268166', 'Q11815360', 'Q12014399', 'Q16287483',
              'Q20432251', 'Q21550646', 'Q13365117', 'Q13424794',
             'Q1248362', 'Q6859927', 'Q15145782',
             'Q15991263', 'Q12455619', 'Q5568256', 
             'Q6363085', 'Q11819457', 'Q12334852', 'Q15145783']
actual_QID=['Q1113899', 'Q1919436', 'Q250867', 'Q6051619',
             'Q26934816', 'Q18431816', 'Q12840545', 'Q5157338',
            'Q3455803', 'Q715222', 'Q1052281',
            'Q2743689', 'Q7019111', 'Q3738699', 
            'Q380075', 'Q3391743', 'Q476246', 'Q2449503']


lst=[['Journalist', 'monthly magazine of the United Kingdom‘s National Union of Journalists (NUJ)']]
indexes=['Q3186984']
col=['Label', 'Description']
for i in range(len(redirect_QID)):
    lst.append([df_label_qid.loc[actual_QID[i]]['Label'], 
                df_label_qid.loc[actual_QID[i]]['Description']])
    indexes.append(redirect_QID[i])

additional_df= pd.DataFrame(lst, columns= col, index=indexes)
df_label=df_label_qid.append(additional_df, ignore_index= False)

In [12]:
#Applying the function to every column containing QIDs. 
cols=['nationality', 'gender', 'ethnic_group','occupation', 'party', 'academic_degree', 'candidacy', 'religion'] #List of columns 
#containing QID to be replace

df_qid[cols] = df_qid[cols].applymap(lambda d: d if d is not None else []) #Replacing every None value with an empty list for futur analysis.
df_qid[cols] = df_qid[cols].applymap(lambda y: [df_label.loc[Q].Label for Q in y]) #Replacing QIDs with their corresponding label.

### Let's have additional data

Now, we want to see which speakers said quotes that we consider as climate-related and climate change sceptical. We will match speaker from the df_qid with a value septic/climate. We will add two boolean columns to our dataframe df_qid: one for climate-related, and one for climate change sceptical. In order to do that, we will select every QID that appears in our list of climate-related-quotes and climat-change-sceptical quotes

In [15]:
dico_clean={} 
length = 0
for date in [2020, 2019, 2018, 2017, 2016, 2015]:
    dico_clean[date] = pd.read_csv(f'data/clean_quotes-{date}.bz2', compression='bz2')
    length += len(dico_clean[date]) #The length is used here to obtain the total number of quotes.

#### *Qid_climate list*

In [18]:
qid_climate=[]

#iteration in the dico_clean containing extracted files for climate involved quotes
for key, file in dico_clean.items() :
    qid_climate.append(file.drop_duplicates(['qids'], keep='first')['qids'].map(lambda y : ast.literal_eval(y)[0]).tolist()) #add unique QIDs from each file
qid_climate=set(item for sublist in qid_climate for item in sublist)#create a set with unique QIDs from each year/file.

In [19]:
print("We extracted {} QIDs related to speakers that talk about climate.".format(len(qid_climate)))

We extracted 255071 QIDs related to speakers that talk about climate.

#### *Add an additional column to df_qid*

In [20]:
df_qid['climate']=0 #create a column named climate with value equals 0
df_qid.loc[df_qid[pd.Index(df_qid.id.isin(pd.Index(qid_climate)))].index, 'climate']=1 #replace with 1 for speakers that appear in the climate-involved quotes.

In [24]:
df_qid.sample(10)

,date_of_birth,nationality,gender,ethnic_group,occupation,party,academic_degree,id,label,candidacy,religion,climate
3204675,[+1964-00-00T00:00:00Z],[],[female],[],[music teacher],[],[],Q95207366,Claudia Schoppmann,[],[],0
8164935,[+1946-01-01T00:00:00Z],[Japan],[male],[],[],[],[],Q11615321,Fumio Hanaoka,[],[],0
6817200,[+1941-11-25T00:00:00Z],[United Kingdom],[male],[],"[journalist, novelist]",[],[],Q670108,Gerald Seymour,[],[],1
913475,[+1882-00-00T00:00:00Z],[],[],[],[],[],[],Q94298564,J. F. Moulton,[],[],0
2515895,[+1901-00-00T00:00:00Z],[Spain],[male],[],[association football player],[],[],Q11936940,Miquel Nadal Pont,[],[],0
7000101,[+1947-09-22T00:00:00Z],[Brazil],[female],[],[singer],[],[],Q7915270,Vanusa,[],[],0
31880,[+1944-01-27T00:00:00Z],[England],[male],[],"[poet, painter, guitarist, singer-songwriter]",[],[],Q940448,Kevin Coyne,[],[],0
936387,[+1891-10-20T00:00:00Z],[Czechoslovakia],[male],[],"[journalist, writer, prosaist]",[],[],Q95123487,Rudolf Kepka,[],[],0
8356939,[+2002-09-22T00:00:00Z],[],[male],[],"[actor, film actor]",[],[],Q30319189,Cody Veith,[],[],0
6909423,None,[],[male],[],[philosopher],[],[],Q4217639,None,[],[],0

## *Filter the data*

As a good data scientist, the first thing to do is to clean up the data. In order to do that, we will first check for missing rows. Then we will replace the date of birth by the year of birth. Lastly, we will filter our speakers in order to keep only the ones whose age is bewteen 12 and 100 . (As climate change is a relatively new topic, and we do not consider quotes from speakers that are younger then 12 years old).

In [27]:
print("Is there some missing rows ? {} ".format(np.array([df_qid.drop(columns=['label', 'id']).isnull().any(axis=1)]).all()))

Is there some missing rows ? False

In [29]:
df_qid.date_of_birth=df_qid.fillna(0).date_of_birth.map(lambda y : str(y).split("-")[0][3:])#Keep only the year of birth.
df_qid=df_qid.loc[df_qid['date_of_birth'].apply(lambda x: x!= '' and int(x)>1920 and int(x)< 2008)]#Keep only speakers born after 1920.
df_qid['date_of_birth']=df_qid['date_of_birth'].astype(int)

/var/folders/dp/xm3y4vf11sd5mzn0yd618jhm0000gn/T/ipykernel_2329/189858043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_qid['date_of_birth']=df_qid['date_of_birth'].astype(int)

In [30]:
df_qid.sample(5)

,date_of_birth,nationality,gender,ethnic_group,occupation,party,academic_degree,id,label,candidacy,religion,climate
3095739,1983,[],[],[],[botanist],[],[],Q88851348,Surya Shekhawat,[],[],0
3423873,1956,"[United States of America, Costa Rica]",[male],[],"[cross-country skier, alpine skier]",[],[],Q715323,Arturo Kinch,[],[],0
3919841,1947,[],[male],[],[economist],[],[Doctor of Economics],Q51120611,Arkadiy Ismailovich Sukhorukov,[],[],0
7164526,1938,[],[male],[],[painter],[],[],Q21464537,Philip Darby,[],[],0
7796579,2003,[Germany],[female],[],[association football player],[],[],Q97750507,Clara Funk,[],[],0

#### *Load resulting data into a csv compressed filled*

In [31]:
df_qid.to_csv("data/speaker_attribute.bz2", compression = 'bz2', index=False)