In [1]:
import numpy as np
import pandas as pd
import ast
from ast import literal_eval

In [2]:
speakers = pd.read_csv("data/speaker_attribute.bz2", compression = 'bz2') #load the data one hot encoding

In [3]:
dico_clean={} 
length = 0
for date in [2020, 2019, 2018, 2017, 2016, 2015]:
    clean = pd.read_csv(f'data/clean_quotes-{date}.bz2', compression='bz2')
    clean.drop_duplicates(subset=['quotation']) #make sure there's no duplicate
    dico_clean[date]=clean #add to the dico
    length += len(dico_clean[date]) #The length is used here to obtain the total number of quotes.

In [4]:
subdata=pd.DataFrame()
for years, quotes in dico_clean.items() : 
    subdata = pd.concat([subdata, quotes])

In [6]:
subdata

,quoteID,quotation,speaker,qids,date,numOccurrences
0,2020-01-15-079811,the human contribution: changes in greenhouse ...,Gavin Schmidt,['Q1496443'],2020-01-15 21:01:00,1
1,2020-04-03-061496,There's still not a single federal policy to c...,Dan Rutherford,['Q3013192'],2020-04-03 09:50:08,1
2,2020-01-22-084797,The more greenhouse gases you pump into the at...,Malcolm Turnbull,['Q927550'],2020-01-22 00:00:00,7
3,2020-01-30-035904,I love playing with my family and my band and ...,Mitchell Tenpenny,['Q33854640'],2020-01-30 11:01:21,1
4,2020-01-22-014355,Closing the loopholes on current coal investme...,Sarah Wykes,['Q7422923'],2020-01-22 07:01:58,2
...,...,...,...,...,...,...
62551,2015-10-13-046940,If you are concerned about the environment. If...,Greg Walden,['Q1397359'],2015-10-13 17:20:42,1
62552,2015-07-16-012272,Big Blue Bus is a leader in sustainability and...,Peter Grace,['Q28555557'],2015-07-16 10:00:00,6
62553,2015-04-22-063602,to actively monitor and take measures to preve...,Tim McMillan,['Q7803959'],2015-04-22 02:49:28,1
62554,2015-11-04-024668,Few shop owners enjoy saying `No' to customers...,John Perrin,['Q21097218'],2015-11-04 10:01:27,1
62555,2015-12-01-113613,This gives us new possibilities for mapping an...,David Bastviken,['Q39800553'],2015-12-01 00:00:00,1

In [8]:
republican = speakers[(speakers['climate']==1) & (speakers['party'].apply(lambda x : str(x) == "['Republican Party']"))]

In [9]:
republican

,date_of_birth,nationality,gender,ethnic_group,occupation,party,academic_degree,id,label,candidacy,religion,climate
1,1946,['United States of America'],['male'],[],"['statesperson', 'military officer', 'politici...",['Republican Party'],[],Q207,George W. Bush,"['2000 United States presidential election', '...","['United Methodist Church', 'Episcopal Church'...",1
43,1947,['United States of America'],['male'],[],"['non-fiction writer', 'businessperson', 'poli...",['Republican Party'],"['Bachelor of Arts', 'Master of Business Admin...",Q4496,Mitt Romney,['2012 Republican Party presidential primaries...,['The Church of Jesus Christ of Latter-day Sai...,1
188,1951,['United States of America'],['male'],[],"['business executive', 'politician']",['Republican Party'],[],Q22201,Jim DeMint,[],['Presbyterianism'],1
189,1947,['United States of America'],['female'],[],"['businessperson', 'politician']",['Republican Party'],[],Q22290,Olympia Snowe,[],['Eastern Orthodoxy'],1
225,1972,['United States of America'],['male'],[],"['consultant', 'military personnel', 'politici...",['Republican Party'],[],Q25483,Todd Young,[],['Protestantism'],1
...,...,...,...,...,...,...,...,...,...,...,...,...
2784121,1946,[],['male'],[],['politician'],['Republican Party'],[],Q53175364,Larry Boggs,[],[],1
2787831,1958,['United States of America'],['male'],[],['politician'],['Republican Party'],[],Q55608920,Dan Fisher,[],[],1
2789115,1988,['United States of America'],['male'],[],['political activist'],['Republican Party'],[],Q55760897,Jeremy Ryan,[],[],1
2795197,1962,['United States of America'],['male'],[],['politician'],['Republican Party'],[],Q58494532,Jim Hagedorn,[],[],1
2795787,1985,[],['male'],[],['politician'],['Republican Party'],[],Q59179797,Travis Dunlap,[],[],1

In [10]:
qid_republican=[]

#iteration in the dico_clean containing extracted files for climate involved quotes
qid_republican.append(speakers['id']) #add unique QIDs from each file
qid_republican

[0                 Q42
 1                Q207
 2                Q633
 3                Q640
 4                Q853
               ...
 2895031    Q106403986
 2895032    Q106405432
 2895033    Q106405534
 2895034    Q106405565
 2895035    Q106405594
 Name: id, Length: 2895036, dtype: object]

In [11]:
subdata['qids']=subdata['qids'].map(lambda y : ast.literal_eval(y)[0]).tolist()

In [12]:
subdata

,quoteID,quotation,speaker,qids,date,numOccurrences
0,2020-01-15-079811,the human contribution: changes in greenhouse ...,Gavin Schmidt,Q1496443,2020-01-15 21:01:00,1
1,2020-04-03-061496,There's still not a single federal policy to c...,Dan Rutherford,Q3013192,2020-04-03 09:50:08,1
2,2020-01-22-084797,The more greenhouse gases you pump into the at...,Malcolm Turnbull,Q927550,2020-01-22 00:00:00,7
3,2020-01-30-035904,I love playing with my family and my band and ...,Mitchell Tenpenny,Q33854640,2020-01-30 11:01:21,1
4,2020-01-22-014355,Closing the loopholes on current coal investme...,Sarah Wykes,Q7422923,2020-01-22 07:01:58,2
...,...,...,...,...,...,...
62551,2015-10-13-046940,If you are concerned about the environment. If...,Greg Walden,Q1397359,2015-10-13 17:20:42,1
62552,2015-07-16-012272,Big Blue Bus is a leader in sustainability and...,Peter Grace,Q28555557,2015-07-16 10:00:00,6
62553,2015-04-22-063602,to actively monitor and take measures to preve...,Tim McMillan,Q7803959,2015-04-22 02:49:28,1
62554,2015-11-04-024668,Few shop owners enjoy saying `No' to customers...,John Perrin,Q21097218,2015-11-04 10:01:27,1
62555,2015-12-01-113613,This gives us new possibilities for mapping an...,David Bastviken,Q39800553,2015-12-01 00:00:00,1

In [15]:
subdata['republican']=0 #create a column named climate with value equals 0
subdata

,quoteID,quotation,speaker,qids,date,numOccurrences,republican
0,2020-01-15-079811,the human contribution: changes in greenhouse ...,Gavin Schmidt,Q1496443,2020-01-15 21:01:00,1,0
1,2020-04-03-061496,There's still not a single federal policy to c...,Dan Rutherford,Q3013192,2020-04-03 09:50:08,1,0
2,2020-01-22-084797,The more greenhouse gases you pump into the at...,Malcolm Turnbull,Q927550,2020-01-22 00:00:00,7,0
3,2020-01-30-035904,I love playing with my family and my band and ...,Mitchell Tenpenny,Q33854640,2020-01-30 11:01:21,1,0
4,2020-01-22-014355,Closing the loopholes on current coal investme...,Sarah Wykes,Q7422923,2020-01-22 07:01:58,2,0
...,...,...,...,...,...,...,...
62551,2015-10-13-046940,If you are concerned about the environment. If...,Greg Walden,Q1397359,2015-10-13 17:20:42,1,0
62552,2015-07-16-012272,Big Blue Bus is a leader in sustainability and...,Peter Grace,Q28555557,2015-07-16 10:00:00,6,0
62553,2015-04-22-063602,to actively monitor and take measures to preve...,Tim McMillan,Q7803959,2015-04-22 02:49:28,1,0
62554,2015-11-04-024668,Few shop owners enjoy saying `No' to customers...,John Perrin,Q21097218,2015-11-04 10:01:27,1,0
62555,2015-12-01-113613,This gives us new possibilities for mapping an...,David Bastviken,Q39800553,2015-12-01 00:00:00,1,0

In [ ]:
subdata.loc

In [ ]:
subdata.loc[subdata[pd.Index(subdata.qids.isin(pd.Index(qid_republican)))].index, 'republican']=1

In [ ]:
subdata

In [ ]:
vectorizer = CountVectorizer(stop_words = 'english',ngram_range=(1, 2),lowercase=False)


#create bag of words features
X = vectorizer.fit_transform(subdata.quotation)


print('Number of samples:',X.toarray().shape[0])
print('Number of features:',X.toarray().shape[1])

#mask and convert to int climate
Y = np.array(subdata.republican)

print(Y.shape)
print(X.shape)

#shuffle the data

X, Y = shuffle(X, Y, random_state=0)

#split into training and test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
tfidf_transformer = TfidfTransformer()

#transform the count matrix X_train and X_test to a normalized tf-idf representation
X_train_tfidf = tfidf_transformer.fit_transform(X_train)
X_test_tfidf=tfidf_transformer.fit_transform(X_test)


X_train_tfidf.shape 
X_test_tfidf.shape

In [ ]:
train = [X_train, X_train_tfidf]
test = [X_test, X_test_tfidf]

In [ ]:
C = [0.01, 0.1, 1, 10, 100, 1000, 10000] 


param_grid = dict(C=C) 

logistic = LogisticRegression(solver = 'lbfgs', penalty = 'l2') 

grid = GridSearchCV(estimator=logistic, param_grid=param_grid, scoring='roc_auc', verbose=1, n_jobs=-1, cv = 10) 

for features in (train) : 
    grid_result = grid.fit(features, Y_train) 
    print('Best Score: ', grid_result.best_score_) 
    print('Best Params: ', grid_result.best_params_)

In [ ]:
clf = LogisticRegression(random_state=0, solver='lbfgs',C = 10, penalty='l2').fit(X_train_tfidf, Y_train)
predicted = clf.predict(X_test_tfidf)
print('Accuracy:{}'.format(np.mean(predicted == Y_test)))

In [ ]:
coefs=clf.coef_[0] #recover coeffiction from the training
top_three = np.argpartition(coefs, -30)[-30:] # rearrange coefficient, and select the 30th first one
print(np.array(vectorizer.get_feature_names_out())[top_three])